<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</a>

<a class="app-logo" href="#">app</a>

<!-- Everything you want hidden at 940px or less, place within here -->
<div class="nav-collapse collapse">

  <ul class="nav">
    <li class="page-index"><a class="" href="/">HOME</a></li>
    <li class="page-apps"><a class="" href="/apps">APPS</a></li>
    <li class="page-about"><a class="" href="/about">ABOUT</a></li>
  </ul>
  <div class="mask">&nbsp;</div>

</div>

</div>
</div>
</div>
