<div id="tooltip-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-header-content"></div>
        <a href="#" class="modal-close-button">close</a>
      </div>
      <div class="modal-body">
        <span class="modal-body-content"></span>
      </div>

    </div>
  </div>
</div>


<div id="score-modal" class="modal hide fade">
  <div class="modal-body">+<span class="score-value">0</span></div>
</div>

<div id="loading-modal" class="modal hide fade">
  <div class="modal-body">Loading...</div>
</div>

<div id="content-modal" class="modal hide fade content-modal">
  <div class="modal-dialog">
  <div class="modal-header">
    <div class="modal-header-content"></div>
    <a href="#" class="modal-close-button">close</a>
  </div>
  <div class="modal-body">Loading...</div>
  </div>
</div>
