<div class="desktop-header visible-desktop">
  <div class="content">

  	<% unless current_user %>
    <div class="login-container">
      Already have an account? &nbsp;
      <a href="/login" class="btn btn-border-simple size-minus-1">Login</a>
    </div>
    <% end %>

    <div class="stress-less-title">
      <h1 class="app-logo left-align">app Live Better</h1>
    </div>
  </div>
</div>
