<div class="desktop-footer visible-desktop">
  <div class="content">

    <div class="copyright">Copyright &copy; 2013 app, Inc. All Rights Reserved</div>

    <ul class="footer-links">
      <li><a href="mailto:press@myapp.com">Press</a></li>
      <li><a href="/terms">Terms &amp; Conditions</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="mailto:info@myapp.com">Contact Us</a></li>
      <li><a href="http://www.myapp.com/about">About app</a></li>
    </ul>

  </div>
</div>
