<div id="nav-modal" class="modal hide fade">
  <div class="modal-body">

  <div class="cf position-anchored">
  <ul class="link-list left">
    <li class='benefits'>
      <a href="http://www.myapp.com/" class="smooth-scroll">HOME</a>
    </li>
    <li class='how-it-works'><a href="http://www.myapp.com/how">HOW IT WORKS</a></li>
    <li class='science'><a href="http://www.myapp.com/science">THE SCIENCE</a></li>
    <li class='why'><a href="http://blog.myapp.com">app Blog</a></li>
    <!--<li class='team'><a href="/apps">APPS</a></li>-->
    <li class='how'><a href="https://train.myapp.com/subscriptions" class="show-loading-modal">PLANS</a></li>
    <li class='why'><a href="http://www.myapp.com/about">ABOUT US</a></li>
  </ul>

  <ul class="link-list right">
    <li class='team'><a href="https://train.myapp.com/login">LOGIN</a></li>
  </ul>


  <ul class="button-list">
    <li><a href="https://train.myapp.com/mini_baseline" class="btn-border-flat ga-tracked add-parms" data-call-to-action='Top-left Start Button' data-toggle="modal" data-ga-category="buttons" data-ga-action="submit" data-ga-label="Start Assessment">Get Started</a></li>
    <li><a href="https://train.myapp.com/auth/facebook" class="fb-connect-button add-parms">Connect</a></li>
  </ul>

  </div>

  <a href="#" class="button-close" data-dismiss="modal" aria-hidden="true">X</a>

  </div>
</div>