<div id="header"><div class="centered-layout-container">
<div id="product-site-top-nav-container">

  <div class="social-links">
    <a href="https://www.twitter.com/app" class="social-links-twitter">Twitter</a>
    <a href="https://www.facebook.com/appInc" class="social-links-fb">Facebook</a>&nbsp;
    <a href="https://train.myapp.com/login" class="social-links-login"><span>Login</span></a>
  </div>

  <a href="#nav-modal" data-toggle="modal" class="button-menu">Menu</a>
  <ul class="top-nav-links">
    <li class='how-it-works'><a href="http://www.myapp.com/how" class="">HOW IT WORKS</a></li>
    <li class='science'><a href="http://www.myapp.com/science" class="">THE SCIENCE</a></li>
    <li class='why'><a href="http://blog.myapp.com">BLOG</a></li>
    <li class='how'><a href="https://train.myapp.com/subscriptions" class="active">PLANS</a></li>
    <li class='why'><a href="http://www.myapp.com/about" class="">ABOUT US</a></li>
  </ul>

  <%= link_to root_path, { :class=>"header-logo-link"} do %>
    <%= image_tag 'app.logo.be-better.x2.png', alt: 'app', class: 'main-logo' %>
  <% end %>

</div></div></div>