<div id="product-site-footer"><div class="centered-layout-container">

  <div class="copyright">
    <div class="copyright-logo">Copyright &copy; 2014 app, Inc. All Rights Reserved</div>
    <%= mail_to 'press@myapp.com', 'Press' %> &nbsp;
    <%= link_to 'Terms & Conditions', terms_path %> &nbsp;
    <%= link_to 'Privacy Policy', privacy_path %> &nbsp;
    <%= mail_to 'support@myapp.com', 'Contact Us' %> &nbsp;
    <a href="http://www.myapp.com/about">About app</a>
  </div>

  <div class="social-links">
    <a href="https://www.twitter.com/app" class="social-links-twitter">Twitter</a>
    <a href="https://www.facebook.com/appInc" class="social-links-fb">Facebook</a>
  </div>

</div> </div>
