<div id="splash_screen" class="screen vertical-center progress-exclude">

  <div class="own-home-container">

    <div class="row-fluid">
      <div class="span12">

        <h1 id="stress-less-title">app</h1>

      </div>
    </div>

  </div>

    <button class="btn next" style="display:none">next</button>

</div>
