<div class="tip-container">
  <div class="content"><div class="scrollable-content">
    <div id="tip-container-header"></div>
    <div id="tip-container-body"></div>
  </div></div>
  <a href="#" class="close-button">close</a>
  <div class="icon"><a href="#">hide</a></div>
</div>
