<script class="match-pool-confirm-modal-template" type="text/x-handlebars-template">

<div class="confirm-container">
  {{message}}
  <div class="button-container">
    <a href="#" class="button-1 cyan button-do-confirm" data-action="{{action}}" data-match-id="{{id}}">YES, PLEASE</a>
    <a href="#" class="button-1 modal-close-button">OOPS! WAIT...</a>
  </div>
</div>

</script>
