<div class="page-description visible-desktop">
  <h5>Your responses are private</h5>
  While your friend has selected you to provide honest feedback to help build their program, your responses will be averaged in with other responses so that the overall results are not directly tied back to you.  Your friend will not receive any notification until 2 or more friends have submitted their results, and your friend will not know who has and who has not submitted results.
</div>
