<div class="fulloverlay action-plan-walkthrough">

  <div class="centered-container">

  <div class="daily-action-plan-container">
    <h3 class="overlay-header">Daily Action Plan</h3>
    <h4 class="overlay-header">(your activities will be displayed here)</h4>
    <a href="#" class="close-overlay-button">Tap to Continue</a>
  </div>

  <div class="your-vision-board-container">
    <h3 class="overlay-header">Your Vision Board</h3>
    <h4 class="overlay-header">(set an intention or say thanks)</h4>
  </div>

  <div class="progress-container">
    <h5 class="overlay-header">Progress</h3>
    <h6 class="overlay-header">Track your activity</h4>
  </div>

  <div class="research-container">
    <h5 class="overlay-header">Research Lab</h3>
    <h6 class="overlay-header">Read Educational Content</h4>
  </div>

  <div class="pointer right your-metrics"><b>Your Metrics</b></div>

  </div>

 <a href="#" class="close-button">close</a>
</div>