<div class="action-plan-container">

  <div id="activity-screens" class="activity-screens">

    <div class="top-container"><div class="top-content">

        <div class="screen locked-content-screen">
          <h1>ACTION</h1>
          <h2>PLAN</h2>
          <div class="graphic-locked">Locked</div>
          <div class="description">Your action plan is set and ready to go!</div>
          <div class="button-container">
            <%= link_to 'Unlock Action Plan', subscriptions_path, class: 'btn btn-border-simple pill lime-2 size-plus-1 btn-block btn-right-arrow show-loading-modal' %>
          </div>
        </div>

  </div></div>

</div>

</div>
