<tr>
  <td valign="top" align="center" colspan="5">
    <div style="padding:0px 0px 49px 0px; width:440px; margin:45px auto; border-bottom:1px #eeeeee solid;">
      <a href="https://www.facebook.com/dialog/feed?app_id=153074598202761&link=http://www.myapp.com&picture=https://s3.amazonaws.com/s3.stressless.myapp.com/app_icon_200x200.png&name=app&description=I just signed up for app. Register here and start your journey now http://www.myapp.com&redirect_uri=http://www.myapp.com/?lp=v02&s=facebook"><img src="http://s3.myapp.com/stressless/email/email.stressless.button.fb.gif" border="0"/></a>
      <a href="https://twitter.com/intent/tweet?original_referer=http://www.myapp.com&text=I just signed up for app's mind fitness program. Join here http://www.myapp.com/&url=http://www.myapp.com/?utm_source=WoM"><img src="http://s3.myapp.com/stressless/email/email.stressless.button.tweet.gif" border="0"/></a>
      <a href="mailto:?subject=Join app's Mind Fitness Program &body=I just signed up for app's Mind Fitness program. Register here and start your journey now http://www.myapp.com/?utm_source=WoM\n\nHaving less stress is proven to slow down aging, increase performance and build happiness."><img src="http://s3.myapp.com/stressless/email/email.stressless.button.email.gif" border="0"/></a>
      </div>
      <a href="https://train.myapp.com/login?s=stressless-results-notification"><img src="http://s3.myapp.com/stressless/email/email.stressless.button.powered-by.gif" border="0"/></a>

    <div style="width:400px; margin:45px auto;">
      <font face="Helvetica" size="+1" color="#b6b6b6" style="font:12px Arial, sans-serif; font-weight: 100; color:#b6b6b6;">
      This message was sent to *|EMAIL|*<br/>
      Visit <a href="*|HOST|*/settings">your account settings</a> to manage your email and mobile alerts.<br/>
      Please add support@myapp.com to your address book to ensure delivery of our emails to your in-box.<br/>
      *|IF:UNSUBSCRIBE|*
        If you would like to unsubscribe from this mailer, please click <a href="*|UNSUBSCRIBE|*">here</a>.<br/><br/>
      *|END:IF|*

      ©2013 app, Inc. | All Rights Reserved.<br/>
      www.myapp.com P.O. Box 162 Santa Monica, CA 90406
      </font>
    </div>

  </td>
</tr>
