<h1>Password Reset Instructions</h1>

<p>Hello <%= @user.first_name %>!</p>

<p>We received a request to reset the password for your app account.</p>

<p>To reset your password, click on the link below (or copy and paste the URL into your browser):</p>

<p><%= link_to edit_password_url(password_reset_token: @user.password_reset_token), edit_password_url(password_reset_token: @user.password_reset_token) %></p>
