<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Curiosity Week</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style type="text/css">
		body{background:url(http://s3.myapp.com/email/weekly_action_plan/bg-page.gif);}
		* {
			-webkit-text-size-adjust: none;
			-webkit-text-resize: 100%;
			text-resize: 100%;
		}
	</style>
</head>
<body bgcolor="#ffffff" style="margin:0; padding:0; background:url(http://s3.myapp.com/email/weekly_action_plan/bg-page.gif)" link="#0fadfc;">
<style type="text/css">
	* {
		-webkit-text-size-adjust: none;
		-webkit-text-resize: 100%;
		text-resize: 100%;
	}
</style>
<table width="100%" cellspacing="0" cellpadding="0" background="http://s3.myapp.com/email/weekly_action_plan/bg-page.gif" style="http://s3.myapp.com/email/weekly_action_plan/bg-page.gif);">
	<tr>
		<td>
			<table width="582" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td align="center" style="padding:21px 0 17px;">
						<a href="#"><img src="http://s3.myapp.com/email/weekly_action_plan/logo-1.png" style="vertical-align:top;" border="0" width="46" height="47" alt="app" /></a>
					</td>
				</tr>
				<tr>
					<td style="line-height:0;"><img src="http://s3.myapp.com/email/weekly_action_plan/img-1.png" align="left" vspace="0" hspace="0" width="582" height="19" alt="" /></td>
				</tr>
				<tr>
					<td style="border-left:1px solid #ebebeb; border-right:1px solid #ebebeb;">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td bgcolor="#1e99e7" style="padding:19px 0 41px; border-bottom:1px solid #666;">
									<table width="100%" cellpadding="0" cellspacing="0">
										<tr>
											<td style="padding:0 0 20px 39px;">
												<table width="100%" cellpadding="0" cellspacing="0">
													<tr>
														<td style="font:bold 36px/40px Arial, Helvetica, sans-serif; color:#fff; padding:0 0 21px;">
															*|IF:FNAME|*
																Hello, *|FNAME|*
															*|ELSE:|*
																Hello
															*|END:IF|*
														</td>
													</tr>
													<tr>
														<td style="font:40px/44px Arial, Helvetica, sans-serif; color:#fff; padding:0 0 7px;">
															This week is...
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td align="center" style="font-size:0; line-height:0;"><img src="http://s3.myapp.com/email/weekly_action_plan/img-2.gif" width="160" height="121" alt="" /></td>
										</tr>
										<tr>
											<td style="padding:0 48px 0 49px;">
												<table width="100%" cellpadding="0" cellspacing="0">
													<tr>
														<td height="1" bgcolor="#0e7dc5" style="font-size:0; line-height:0;">&nbsp;</td>
													</tr>
													<tr>
														<td height="1" bgcolor="#40a8eb" style="font-size:0; line-height:0;">&nbsp;</td>
													</tr>
													<tr>
														<td align="center" style="font:56px/56px Arial, Helvetica, sans-serif; color:#fff; padding:17px 0 13px;">
															<span style="font-weight:bold;">CURIOSITY</span>
															<br/>
															WEEK
														</td>
													</tr>
													<tr>
														<td height="1" bgcolor="#0e7dc5" style="font-size:0; line-height:0;">&nbsp;</td>
													</tr>
													<tr>
														<td height="1" bgcolor="#40a8eb" style="font-size:0; line-height:0;">&nbsp;</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td align="center" style="font:18px/36px Arial, Helvetica, sans-serif; color:#fff; padding:18px 0 20px;">
												Rekindle curiosity in your life to give your brain a performance boost.
												<br/>
												<span style="font-weight:bold;">Weekly goal: 700 Points</span>
											</td>
										</tr>
										<tr>
											<td align="center">
												<a href="*|HOST|*/action_plan"><img src="http://s3.myapp.com/email/weekly_action_plan/img-3.gif" style="vertical-align:top;" border="0" width="332" height="73" alt="start training" /></a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" style="padding:36px 40px 26px;">
									<table width="100%" cellpadding="0" cellspacing="0">
										<tr>
											<td style="font:bold 24px/28px Arial, Helvetica, sans-serif; color:#666; padding:0 0 6px;">
												What's Curiosity Week?
											</td>
										</tr>
										<tr>
											<td style="font:18px/32px Arial, Helvetica, sans-serif; color:#616161; padding:0 0 27px;">
												Remember how curious you were as a child? Would you say that you are still as intrinsically interested and curious with your surroundings today? As we get older and take on more responsibilities in life, we naturally lose a bit of our curiosity and interest in the world around us. This is quite unfortunate, as positive psychology research has demonstrated that curiosity has a wide array of cognitive and social benefits. For one, curiosity is associated with better problem-solving skills – think about the curious mad scientist stereotype that is interested in figuring out how everything works, leading him to breakthrough innovations. Curiosity also benefits our social relationships – curious people tend to be considered good listeners, and often bring their own rich array of experiences into conversations.
												<br/><br/>
												Last but not least, curiosity has been linked to performance at school and at work. When we develop an insatiable thirst for knowledge and information, there are no limits as to what we can learn or achieve.
												<br/><br/>
												Let’s give our curiosity a boost this week!
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><img src="http://s3.myapp.com/email/weekly_action_plan/img-4.png" style="vertical-align:top;" width="582" height="20" alt="" /></td>
				</tr>
<tr>
				  <td valign="top" align="center" colspan="5">
				    <div style="padding:0px 0px 49px 0px; width:440px; margin:45px auto; border-bottom:1px #eeeeee solid;">
				      <a href="https://www.facebook.com/dialog/feed?app_id=153074598202761&link=http://www.myapp.com&picture=https://s3.amazonaws.com/s3.stressless.myapp.com/app_icon_200x200.png&name=app&description=I just signed up for app. Register here and start your journey now http://www.myapp.com&redirect_uri=http://www.myapp.com/?lp=v02&s=facebook"><img src="http://s3.myapp.com/stressless/email/email.stressless.button.fb.gif" border="0"/></a>
				      <a href="https://twitter.com/intent/tweet?original_referer=http://www.myapp.com&text=I just signed up for app's mind fitness program. Join here http://www.myapp.com/&url=http://www.myapp.com/?utm_source=WoM"><img src="http://s3.myapp.com/stressless/email/email.stressless.button.tweet.gif" border="0"/></a>
				      <a href="mailto:?subject=Join app's Mind Fitness Program &body=I just signed up for app's Mind Fitness program. Register here and start your journey now http://www.myapp.com/?utm_source=WoM\n\nHaving less stress is proven to slow down aging, increase performance and build happiness."><img src="http://s3.myapp.com/stressless/email/email.stressless.button.email.gif" border="0"/></a>
				      </div>
				      <a href="https://train.myapp.com/login?s=stressless-results-notification"><img src="http://s3.myapp.com/stressless/email/email.stressless.button.powered-by.gif" border="0"/></a>

				    <div style="width:400px; margin:45px auto;">
				      <font face="Helvetica" size="+1" color="#b6b6b6" style="font:12px Arial, sans-serif; font-weight: 100; color:#b6b6b6;">
				      This message was sent to *|EMAIL|*<br/>
				      Visit <a href="*|HOST|*/settings">your account settings</a> to manage your email and mobile alerts.<br/>
				      Please add support@myapp.com to your address book to ensure delivery of our emails to your in-box.<br/>
				      *|IF:UNSUBSCRIBE|*
				        If you would like to unsubscribe from this mailer, please click <a href="*|UNSUBSCRIBE|*">here</a>.<br/><br/>
				      *|END:IF|*

				      ©2013 app, Inc. | All Rights Reserved.<br/>
				      www.myapp.com P.O. Box 162 Santa Monica, CA 90406
				      </font>
				    </div>

				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
