<li class="day-container cf" data-rel-score="<%= points %>" data-rel-timestamp="<%=timestamp %>">
<div class="day-activity-container">
  <ul class="day-activity-list">
    <li>
      <div href="#" class="btn btn-square size-plus-1 smallimg checkin <%=action_item.checkin_type%>" data-img-src=""><%=action_item.checkin_type.titlecase%> Check-In</div>
    </li>
    </ul>
</div>

</li>