<div class="fulloverlay progress-walkthrough">

<div class="page-flexslider">
  <ul class="slides">

    <li class="walkthrough-slide" id="slide-1"><div class="slide-content">

      <div class="skip-tour-label">Skip tour</div>

      <h3>Hi <%=current_user.first_name%></h3>

      <div class="description">
      Thanks for stopping by the Progress section of the app app. Here you can check in and see how you are doing with the program.
      </div>
      <div class="button-container">
        <a href="#" class="btn btn-border-simple btn-block pill lime darkbluebg btn-right-arrow flex-next">Start Tour</a>
      </div>

    </div></li>

    <li class="walkthrough-slide" id="slide-2"><div class="slide-content">
       <h3>Your Points</h3>
       <div class="your-points-graphic">Your Points</div>

       <div class="description">
         You’ll receive points for every activity you complete. Here you can see how many points you’ve earned each week as well as your total points.
       </div>

       <div class="button-container nav-button-container"><div class="button-7 lime size-minus-1"><span class="outer"><a href="#" class="inner left flex-previous">Back</a><a href="#" class="inner right flex-next">Next</a></span></div></div>

     </div></li>

     <li class="walkthrough-slide" id="slide-3"><div class="slide-content">
        <h3>Timeline</h3>

        <div class="description">
          Any activities you complete and photos you upload will be shown as a sequence on the timeline on a daily basis.
        </div>
        <div class="timeline-graphic">Timeline</div>

        <div class="button-container nav-button-container"><div class="button-7 lime size-minus-1"><span class="outer"><a href="#" class="inner left flex-previous">Back</a><a href="#" class="inner right flex-next">Next</a></span></div></div>

      </div></li>

      <li class="walkthrough-slide" id="slide-4"><div class="slide-content">
         <h3>Metrics</h3>

         <div class="description">
           Focus, Positivity, Sleep &amp; Relationships are the foundation of a healthy mind. See your weekly trends here.
         </div>
         <div class="metrics-graphic">Metrics</div>

         <div class="button-container nav-button-container"><div class="button-7 lime size-minus-1"><span class="outer"><a href="#" class="inner left flex-previous">Back</a><a href="#" class="inner right flex-next">Next</a></span></div></div>

      </div></li>

      <li class="walkthrough-slide" id="slide-5"><div class="slide-content">
         <h3>Insights</h3>

         <div class="description">
           Get valuable insights to complement your mind training.
         </div>

         <div class="button-container">
           <a href="#" class="btn btn-border-simple btn-block pill lime darkbluebg btn-right-arrow flex-close">End Tour</a>
         </div>

         <div class="insights-graphic">Insights</div>

      </div></li>





  </ul>
</div>

<a href="#" class="close-button">close</a>
</div>