<% if intention.image_urls[index] %>
  <li class="image"><a href="<%=intention_url(intention)%>" class="desktop-modal-load" style="background:url(<%=intention.image_urls[index] %>) 0px 0px no-repeat; background-size:cover;"><%=index+1%></a></li>
<% elsif index == intention.image_urls.count %>
  <li><a href="<%=intention_url(intention)%>" class="btn btn-circle-simple size-minus-1 camera desktop-modal-load" data-mask-url="camera-mask"></a></li>
<% else %>
  <li class="blank">&nbsp;</li>
<% end %>