<% content_for :section_header do %>
&nbsp;
<% end %>

<div class="cf">

    <div class="visionboard-screen-container shadow-container">
      <%= render "visionboard_items/visionboard_screen" %>
    </div>

</div>


