<div class="dark-header-row" id="main-assessment-navigation">
  <ul id="current-section-nav" class="cf">
    <li class="demographics">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="demographics-hex-mask">
                   <path d="M22,22 L22,0 A22,22 0 1,1 22,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="demographics-arc-path" App-data-radius="22" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#demographics-hex-mask)" height="44" width="44" xlink:href="/assets/product.assessment.nav.demo.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <div class="pointer">^</div>
    </li>
    <li class="focus">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="focus-hex-mask">
                   <path d="M22,22 L22,0 A22,22 0 1,1 22,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="focus-arc-path" App-data-radius="22" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#focus-hex-mask)" height="44" width="44" xlink:href="/assets/product.assessment.nav.focus.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <div class="pointer">^</div>
    </li>
    <li class="positivity">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="positivity-hex-mask">
                   <path d="M22,22 L22,0 A22,22 0 1,1 22,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="positivity-arc-path" App-data-radius="22" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#positivity-hex-mask)" height="44" width="44" xlink:href="/assets/product.assessment.nav.positivity.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <div class="pointer">^</div>
    </li>
    <li class="sleep">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="sleep-hex-mask">
                   <path d="M22,22 L22,0 A22,22 0 1,1 22,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="sleep-arc-path" App-data-radius="22" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#sleep-hex-mask)" height="44" width="44" xlink:href="/assets/product.assessment.nav.sleep.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <div class="pointer">^</div>
    </li>
    <li class="social">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="social-hex-mask">
                   <path d="M22,22 L22,0 A22,22 0 1,1 22,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="social-arc-path" App-data-radius="22" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#social-hex-mask)" height="44" width="44" xlink:href="/assets/product.assessment.nav.social.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <div class="pointer">^</div>
    </li>
  </ul>
</div>


<div class="dark-header-row" id="main-assessment-navigation-large">
  <div class="content cf">
  <ul id="current-section-nav-large" class="cf">
    <li class="demographics">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="demographics-hex-mask-large">
                   <path d="M32,22 L32,0 A32,32 0 1,1 32,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="demographics-arc-path-large" App-data-radius="32" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#demographics-hex-mask-large)" height="64" width="64" xlink:href="/assets/product.assessment.nav.demo.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <label>About You</label>
      <div class="pointer">^</div>
    </li>
    <li class="focus">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="focus-hex-mask-large">
                   <path d="M32,22 L32,0 A32,32 0 1,1 32,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="focus-arc-path-large" App-data-radius="32" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#focus-hex-mask-large)" height="64" width="64" xlink:href="/assets/product.assessment.nav.focus.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <label>Focus</label>
      <div class="pointer">^</div>
    </li>
    <li class="positivity">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="positivity-hex-mask-large">
                   <path d="M32,22 L32,0 A32,32 0 1,1 32,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="positivity-arc-path-large" App-data-radius="32" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#positivity-hex-mask-large)" height="64" width="64" xlink:href="/assets/product.assessment.nav.positivity.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <label>Positivity</label>
      <div class="pointer">^</div>
    </li>
    <li class="sleep">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="sleep-hex-mask-large">
                   <path d="M32,22 L32,0 A32,32 0 1,1 32,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="sleep-arc-path-large" App-data-radius="32" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#sleep-hex-mask-large)" height="64" width="64" xlink:href="/assets/product.assessment.nav.sleep.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <label>Sleep</label>
      <div class="pointer">^</div>
    </li>
    <li class="social">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="social-hex-mask-large">
                   <path d="M32,22 L32,0 A32,32 0 1,1 32,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="social-arc-path-large" App-data-radius="32" App-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#social-hex-mask-large)" height="64" width="64" xlink:href="/assets/product.assessment.nav.social.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <label>Social</label>
      <div class="pointer">^</div>
    </li>
  </ul>

  <h3 id="desktop-assessment-nav-header">Build Your Mind Fitness Profile</h3>
  <h4 id="desktop-assessment-nav-subheader">Step 1: Please start by giving us some basic information<br /><b>about you</b>.</h4>
  </div>
</div>
