<div class="container">
  <h1>Marketing Reports</h1>

  <div class="well">
  <ul>
    <li><%= link_to 'KPI Report', marketing_kpi_index_path %></li>
	  <li><%= link_to 'Charges Report', marketing_charges_path %></li>
	  <li><%= link_to 'Leads Report', marketing_leads_path %></li>
	  <li><%= link_to 'Lifetime Value Report', marketing_lifetime_value_index_path %></li>
  </ul>
  </div>
</div>


