<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
<p>Your 30 Days of Calm are right around the corner! When the Stress Less Challenge launches on February 27th, we'll send you an invitation with instructions to get started.</p>

<p>The best thing you can do to prepare for the challenge is spread the calm and invite your friends! - <a href="http://stressless.myapp.com?s=email">http://stressless.myapp.com</a></p>

<p>&nbsp;</p>

<p>Thank you,</p>

<p>&nbsp;</p>

<p>OWN & Secret Clinical</p>

<p>&nbsp;</p>

<p>Powered by app, Inc.</p>
    
  </body>
</html>
