<% content_for :header_bar do %>

<input type="button" href="action:toggleSideBar" id="navbar-button-left" class="navbar-button menu" app-data-state="app" value="Previous" />
<span id="title">About app</span>
<input type="button" href="" id="navbar-button-right" class="navbar-button none" app-data-state="none" value="Next" />

<% end %>

<div id="viewport">

<div id="why-we-care" class="content-container">

  <h1 class="style-5 centered-content paddingTop30">Why we care about your mind</h1>
  <div class="content">

    <div class="about-graphic">Brain</div>

    <div id="welcome-audio-player" class="audio-player-1" data-audio="http://s3.stresslessapp.myapp.com.s3.amazonaws.com/welcome_script_about_v2.mp3" data-audio-duration="75">

      <div class="audio-control-interface">
        <div class="buffering"></div>
        <div class="timeline">
          <div class="timeline-controls"></div>
          <div class="playhead"></div>
        </div>
        <div class="jplayer"></div>
      </div>

      <div class="welcome-button-container">
        <a href="#" class="btn btn-border btn-block" tabindex="1" id="welcome-audio-button">Play</a>
      </div>
    </div>


    <p>The app mind fitness program is your personal guide to build fundamental skills for a healthy, stronger mind.</p>

    <p>Increasing these core skills will help you think, focus and reframe so that you can triumph over your life's challenges and reduce the negative impact of stress on your physical health. To appropriately provide insights, the Stress Less App collects data from you each day and recommends an exciting new exercise designed to help you build stress resilience and increase core skills for a healthy mind and happy living.</p>

    <p>The app team works with top scientists from around the world to assemble the most engaging and well researched tools that the community can use everyday to develop the brain’s calming skills as part of a psychological fitness regimen.</p>

    <p>Developing brain calming skills is one of the most important things a person can do for his or her health and well being. The better people are at integrating these skills into their everyday lives, the less damage stress can do to the body and mind.</p>

    <p>Together we'll find the right balance between stress, health and happiness.</p>

  </div>
</div>

<div id="about-app">

  <a class="header-button" href="#">
    <h2>More about app</h2>
    <span class="arrow up">^</span>
  </a>

  <div class="content-container">
    <div class="content">
      <h1 class="style-5 centered-content">We power your<br />mind fitness program</h1>
      <div class="content">
        <p>Expedited aging caused by chronic stress is a root cause of premature death from cancer and heart disease. Daily stress is simply the largest “silent killer” in our society; a key factor that affects the very process of body-cell aging, at the chromosomal level, accounting for more than 70% of doctor visits in the United States. But while it is a serious threat to your health, the good news is that you can learn to regulate, control, and manage your experience of stress.</p>

        <p>app’s mission is to provide you with the tools to combat daily stress, develop new, positive mental skills, and ultimately flourish.</p>

        <p>We are the leaders in the development of digital programs for stress-reduction and improved well-being. Our team of behavioral scientists, neuroscientists, and data scientists works together to develop mobile and web programs that train individuals to reduce perceived stress, and improve their psychological well-being and brain health. Harnessing the massive reach and major advances of technology, we aim to serve as a driving force that leads to a healthier, stress-free society, making both our individual and collective life a more profound experience.</p>
      </div>
    </div>
  </div>
</div>

</div>