<div class="dark-header-row" id="main-assessment-navigation">
  <ul id="current-section-nav" class="cf" style="width:145px;">
    <li class="positivity">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="positivity-hex-mask">
                   <path d="M22,22 L22,0 A22,22 0 1,1 22,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="positivity-arc-path" app-data-radius="22" app-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#positivity-hex-mask)" height="44" width="44" xlink:href="/assets/product.assessment.nav.positivity.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <div class="pointer">^</div>
    </li>
  </ul>
</div>


<div class="dark-header-row" id="main-assessment-navigation-large">
  <div class="content cf">
  <ul id="current-section-nav-large" class="cf" style="width:225px;">
    <li class="positivity">

      <svg class="svg-graphic" width="152" height="152" viewBox="0 0 152 152" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <defs>
                 <clipPath id="positivity-hex-mask-large">
                   <path d="M32,22 L32,0 A32,32 0 1,1 32,0z" fill="#FF8888" stroke="#0000FF" stroke-width="2" id="positivity-arc-path-large" app-data-radius="32" app-data-percentage = "0" />
                  </clipPath>
             </defs>
             <a xlink:href="#">
               <image clip-path="url(#positivity-hex-mask-large)" height="64" width="64" xlink:href="/assets/product.assessment.nav.positivity.on.png" preserveAspectRatio="xMidYMid slice" />
            </a>

      </svg>

      <label>Positivity</label>
      <div class="pointer">^</div>
    </li>
  </ul>

  <h3 id="desktop-assessment-nav-header"><!--Build Your Mind Fitness Profile-->ASSESS YOUR STRESS SHIELD</h3>
  <h4><span id="desktop-assessment-nav-subheader">Let's evaluate your aptitude for Positivity.</span> Question <span id="nav-question-index">1</span>/10</h4>
  </div>
</div>
