  <div class="dark-header-row"><div class="content">
    <ul class="progress-meter-1">
      <% for i in 0..(@questions.length - 1) %>
        <li><div class="circle-outer <% if i == index %>current<% elsif i < index %>active<% end %>"><div class="circle-inner">x</div></div></li>
      <% end %>
    </ul>
  </div></div>

  <h3 class="style-2" style="padding:7px 0px 20px 0px;">
    <span class="pam-question" app-data-question-index="0" style="display:block;"><%="#{question.text}..." %></span>
  </h3>

  <ul class="answer-list" style="display:none;">
    <!--<% question.response_descriptions.each_pair do |response_index, response_description| %>
      <li class="answer-<#%=response_index%>"><#%=response_description%></li>
      <% end %>-->

      <li class="answer-1">Strongly Disagree</li>
      <li class="answer-2">Disagree</li>
      <li class="answer-3">Neutral</li>
      <li class="answer-4">Agree</li>
      <li class="answer-5">Strongly Agree</li>

  </ul>

  <div class="desktop-focus-area">
    <div class="answer-label">Neutral</div>
    <div class="question-slider-container"><div class="question-slider-track"><div class="question-slider"></div></div></div>
  </div>

  <div class="button-container cf">
    <div class="continue-button-container"><a href="#" class="btn <% if index < @questions.length - 1 %>next<% end %> btn-block btn-border-simple size-plus-1 lime-2 pill btn-right-arrow"><% if index == @questions.length - 1 %>Finish<% else %>Continue<% end %></a></div>
    <div class="skip-button-container"><a href="/toolkit" class="">Skip Questions</a></div>
  </div>
