<div id="community-module" class="container-module with-border">
  <h3 class="container-header">Community</h3>
  <ul class="button-container">
    <li><a href="/invite/new" class="btn btn-border-simple btn-block desktop-modal-load">Invite Friends</a></li>
    <li><a href="mailto:support@appinc.com" class="btn btn-border-simple btn-block">Contact Us</a></li>
  </ul>
  <h3 class="container-header">Join the Conversation</h3>
  <ul class="button-container">
    <li><a class="btn btn-border-simple btn-block fb" href="http://www.facebook.com/appinc">Follow us on</a></li>
    <li><a class="btn btn-border-simple btn-block twitter" href="http://www.twitter.com/app">Follow us on</a></li>
  </ul>
</div>
