<div class="desktop-footer">
  <div class="content">

    <div class="copyright">Copyright &copy; 2013 app, Inc. All Rights Reserved</div>

    <ul class="footer-links">
      <li><a href="mailto:press@myapp.com">Press</a></li>
      <li><a href="/terms">Terms &amp; Conditions</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="mailto:support@myapp.com">Contact Us</a></li>
      <li><a href="http://www.myapp.com/about">About app</a></li>
    </ul>

    <div class="footer-logo"><div class="outer"><div class="graphic">app</div></div></div>

  </div>
</div>

<%= render "layouts/common_modals" %>

<div id="activity-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <a href="#" class="modal-close-button">close</a>
        <span id="modal-ajax-content"></span>
      </div>

    </div>
  </div>
</div>
