<h1 class="section-header">
  Resources
</h1>

<div class="footer-content cf">

  <div class="column">

    <div class="container-module with-border">
      <h3 class="container-header">Research Lab</h3>
      <ul class="blog-article-list article-list" id="" data-max-num-items="1" data-offset="0"></ul>
    </div>

  </div>

  <div class="column">

    <div class="container-module with-border">
      <h3 class="container-header">Media</h3>
      <a class="graphic-video-ted" href="#video-modal-tedx" data-toggle="modal">Video</a>
      Check out our CEO Paul Campbell speak about mind fitness at TEDx.
      <a class="" href="#video-modal" data-toggle="modal">Watch Now</a>
    </div>

  </div>


</div>
