  <ul class="mind-metrics cf showone">
    <li class="focus disabled paywall">
      <a href="/subscriptions" class="show-loading-modal">
      <label>Focus</label>
      <div class="value locked">locked</div>
      </a>
      <div class="selected-arrow">v</div>
    </li>
    <li class="positivity free">
      <a href="0">
      <label>Positivity</label>
      <div class="value">Results Below</div>
      </a>
      <div class="selected-arrow">v</div>
    </li>
    <li class="sleep disabled paywall">
      <a href="/subscriptions" class="show-loading-modal">
      <label>Sleep</label>
      <div class="value locked">locked</div>
      </a>
      <div class="selected-arrow">v</div>
    </li>
    <li class="social disabled paywall">
      <a href="/subscriptions" class="show-loading-modal">
      <label>Social</label>
      <div class="value locked">locked</div>
      </a>
      <div class="selected-arrow">v</div>
    </li>
  </ul>
