<div class="fulloverlay action-plan-walkthrough">

  <div class="daily-action-plan-container">
    <h3 class="overlay-header">Daily Action Plan</h3>
    <h4 class="overlay-header">(your activities will be displayed here)</h4>
    <a href="#" class="close-overlay-button">Tap to Continue</a>

    <div class="pointer down educational"><b>Educational Content</b></div>
    <div class="pointer up daily-progress"><b>Daily Progress</b><br />(start next day)</div>
  </div>

  <div class="pointer left menu"><b>Menu</b></div>
  <div class="pointer right friends"><b>Friends</b></div>
  <% case %>
  <% when browser.iphone?, browser.ipad?, browser.ipod? %>
  <div class="pointer down add-app"><b>Add app to your home screen</b></div>
  <% end %>


<!--<a href="#" class="close-button">close</a>-->
</div>