<div id="popunder" app-data-state="off">
  <div class="content-padding">

    <% if @photo_upload_enabled %>
    <div class="button-container"><a href="#" class="btn btn-border-simple pill lime btn-block size-plus-1" id="button-take-photo">Choose Photo</a></div>
    <% end %>
    <div class="button-container"><a href="#" class="btn btn-border-simple pill lime btn-block size-plus-1" id="button-select-flickr">Select From Flickr</a></div>
    <div class="button-container"><a href="#" class="btn btn-border-simple pill btn-block size-plus-1" id="button-image-cancel">Cancel</a></div>

  </div>
</div>


