<% content_for :title, 'Forgot Password' %>

<div class="container">
  <h1>Forgot password</h1>

  <% if flash.alert %>
    <div class="alert alert-error"><%= flash.alert %></div>
  <% end %>

  <%= form_tag send_reset_instructions_path do %>
    <%= email_field_tag :email, @email, placeholder: 'Enter email address' %><br/>
    <%= button_tag "Email reset instructions", class: 'btn btn-border orange' %>
  <% end %>
</div>
