<div class="container">
  <h1>We've sent password reset instructions to your email address.</h1>

  <p>If you don't receive instructions within a minute or two, check your email's spam and junk filters, or try <%= link_to 'resending your request', forgot_password_path %>.</p>
</div>
