<% content_for :title, 'Notifications' %>

<% content_for :header_bar do %>
  <input type="button" href="<%=settings_path %>" id="navbar-button-left" class="navbar-button back" App-data-state="back" value="Previous" />
  <span id="title">Notifications</span>
<% end %>

<div class="container">
  <%= render 'users/notifications_settings_panel' %>
</div>
