<div class="features-container">
  <h1>YOUR STRESS FREE LIFE STARTS TODAY</h1>
  <div class="centered-content cf">
  <div class="col-left">
    <h3>FEATURES</h3>
    <ul>
      <li>A growing library of highly effective meditations<!-- for relaxation, breathing, sleep, focus and positivity--></li>
      <li>Scientifically validated self assessments</li>
      <li>Peer Assessments</li>
      <li>Brain Games</li>
      <li>Mobile Access</li>
      <li>Personalized Emotional Health Dashboard</li>
    </ul>
  </div>

  <div class="col-right">
    <h3>BENEFITS</h3>
    <ul>
      <li>Better Health</li>
      <li>Higher Confidence</li>
      <li>Increased Positivity</li>
      <li>Improved Sleep</li>
      <li>Stronger Focus</li>
      <!--
      <li>Reduced Stress</li>
      <li>70% of users report increased Focus, Positivity, Sleep and Relationships</li>
      <li>Better cardiovascular and brain health</li>
      <li>Increased prevention of stress-related illnesses</li>
      <li>Weekly educational newsletters, blogs and/or videos about the science of behavioral health</li>
      <li>A sense of control and empowerment over your quality of life and overall happiness</li>
      -->
    </ul>
  </div>
  </div>


</div>
