<% content_for :header do %>
  <div id="header"><div class="centered-layout-container">

      <%= link_to root_path do %>
        <%= image_tag 'pages/app-beta.logo.png', alt: 'app', width: 124, height: 46, class: 'main-logo-solo hidden-tablet hidden-phone', name: 'top' %>
      <% end %>

  </div></div>
<% end %>

<h1 class="desktop-header style-1 visible-desktop">CONGRATULATIONS!</h1>

<div class="container page-layout-1">
  <div class="content-outer">
    <div class="content">

  <div id="subscription-confirmation" class="panel">
    <div class="panel-heading border-bottom-style-1">
      <h1 class="style-1 hidden-desktop">CONGRATULATIONS!</h1>
      <p>You've completed your purchase:</p>
    </div>

    <div class="panel-content">
      <h2 class="style-1">Stay Connected</h2>
      <p>Occasionally, we’ll need to send you notifications and alerts via email &amp; SMS. Please provide your email &amp; phone number.</p>

      <%= render 'users/notifications_settings_panel', submit_text: 'Save and Continue', flow: 'subscription-confirmation' %>
    </div>

    <div class="panel-content visible-desktop border-top-style-1">
      <h2 class="style-1">Mobile Optimized</h2>
      <p>app is optimized for mobile.  Please go to http://train.myapp.com on your phone.</p>
    </div>
  </div>

    </div>
  </div>
</div>


<a class="btn-rule reverse visible-desktop" href="#top">x</a>

<!-- Huffington Post conversion pixel -->
<% if current_user.source == "HuffPo" %>
  <%= image_tag 'http://at.atwola.com/adserv/3.0/5113.1/3072547/1/16/AdId=5338470;BnId=1', width: 0, height: 0 %>
<% end %>

<!--
<form class="page-layout-1">
  <div class="content-outer">
    <div class="content">
      <h1 class="style-1">CONGRATULATIONS!</h1>
      You’ve completed your purchase:
      <ul class="summary-list cf border-bottom-style-1 ">
        <li>
          <div class="price">$39.95</div>
          Mind Flex Plan
        </li>
      </ul>

      <h2 class="style-1">Receive Notifications</h2>
      Ocassionally, we’ll need to send you notifications and alerts via email & SMS. Please provide your email & phone number.

      <div>
        <input class="text-input-3" name="email" placeholder="Your email address" />
      </div>

      <div>
        <input class="text-input-3" name="phone" placeholder="Your phone number" />
      </div>

      <div class="border-bottom-style-1">
        <input type="checkbox" name="confirm" class="vertical-top" /> Send me app updates &amp; Alerts
      </div>

      <div class="button-container">
        <a href="#" class="btn btn-border-simple lime btn-block size-plus-1" id="start-button">Continue</a>
      </div>
    </div>
  </div>
</form>
-->
