
<div id="bookmark_screen" class="screen">

  <h1 class="style-5">GET app</h1>
  <div class="description">
  <!--<p>The first fitness program for your mind</p>-->
  <p>Or <a href="/">skip this step</a>.</p>
  </div>

  <div class="walkthrough-container visible-by-default" style="position:absolute;bottom:0px;"><div class="content-wrapper">
      <%= render "home/bookmark" %>
  </div></div>

</div>