<div id="desktop_interstitial_screen" class="screen">

  <div class="info-content-wrapper">
    <div class="info-content">

      <div class="logo-container">
        <span class="logo-app-main">app</span>
      </div>

      <div class="img-container">
        <h1>The app App is for mobile devices. Check your e-mail from your device to activate! Or go to <a href="https://train.myapp.com/login">train.myapp.com/login</a> on your phone.</h1>
        <div class="iphone-container">
          <div class="iphone">
            <p>Or, continue <%= link_to "on your desktop", root_path %></p>
            <p class="note">(please note that this experience has been optimized for mobile phones)</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="di-footer-content">&nbsp;</div>
</div>
